@model GeneralType
<head>
    <link rel="stylesheet" href="~/Theme/vendors/bower_components/sweetalert2/dist/sweetalert2.min.css">
    <link href="~/lib/jquery/jQuery-loader/jquery.loader.min.css" rel="stylesheet" />
</head>

@{
    ViewData["Title"] = "AddUpdateGeneralType";
}

<div class="content__inner">

</div>

    @section Scripts{

    }
